<!DOCTYPE html>
<html>
<head>
	<title>this is header page</title>
	<style type="text/css">
		center{
			margin:15px;
		}
		a{
			padding:30px;
		}
		ul > li {
			list-style: none;
			padding:100px;
			float:left;
		}
		span{
			color:red;
			font-size:22;
		}
	</style>
</head>
<body>
	<center>
		<a href="/index/user/showList">用户管理</a>
		<a href="/index/role/showList">角色管理</a>
		<a href="/index/node/showList">权限管理</a>
		<hr/>
		<ul>
			<li><span>用户总数</span>:2</li>
			<li><span>角色总数</span>:10</li>
			<li><span>权限总数</span>:10</li>
		</ul>
	</center>
</body>
</html>