<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<center>
<form action="/index/rbac/adddata" method="get">
	<table>
		<tr>
			<td>考生姓名</td>
			<td><input type="text" name="name"></td>
	   </tr>
	   <tr>
			<td>考生编号</td>
			<td><input type="text" name="bh"></td>
	   </tr>
	   <tr>
			<td>考生班级</td>
			<td><input type="text" name="bj"></td>
	   </tr>
	   <tr>
			<td>考生类型</td>
			<td><input type="text" name="lx"></td>
	   </tr>
	   <tr>
	   	<td><input type="submit" value="提交"></td>
	   </tr>
	</table>
</form>
</center>	
</body>
</html>