<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<table>
  <a href="{:url('prize/usershow')}">用户主列表展示</a>
	<tr>
		<td>奖品名称</td>
		<td>奖品数量</td>
		<td>操作</td>
	</tr>
	{volist name="data" id="vo"}
	<tr>
		<td>{$vo.prize_name}</td>
		<td>{$vo.num}</td>
		<td><a href="{:url('prize/updateshow',['prize_id'=>$vo.prize_id])}">修改</a></td>
	</tr>
	{/volist}
</table>
<button onclick="prize()">点击抽奖</button>
	
</body>
<script type="text/javascript" src="/js/jquery-1.8.3.js"></script>
<script type="text/javascript">
	function prize(){
		$.ajax({
			url:"{:url('prize/chou')}",
			type:"get",
			dataType:"json",
			success:function(e){
				if(e.code==1){
					alert("恭喜您中的"+e.name);
					history.go(0);
				}
				if(e.code==2){
					alert("您已抽过奖!");
				}
			}
		})
	}
</script>
</html>