<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <base href="/index/" />
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <title></title>

  <!-- 引入日期插件 -->
  <script language="javascript" type="text/javascript" src="carlender/WdatePicker.js"></script>
  <!-- 引入编辑器插件 -->
   <script type="text/javascript" charset="utf-8" src="ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="ueditor/ueditor.all.min.js"> </script>
  
    <script type="text/javascript" charset="utf-8" src="ueditor/lang/zh-cn/zh-cn.js"></script>

  <link href="styles/general.css" rel="stylesheet" type="text/css" />
  <link href="styles/main.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="js/utils.js"></script>
  <script type="text/javascript" src="js/selectzone.js"></script>
  <script type="text/javascript" src="js/colorselector.js"></script>
  <script type="text/javascript" src="js/calendar.php?lang="></script>
</head>

<body>
<h1>
  <span class="action-span1"><a href="index.php?act=main">SHOP 管理中心</a> </span><span id="search_id" class="action-span1"> - 商品列表 </span>
  <div style="clear:both"></div>
</h1>

<div class="form-div">
<form method="post" action="{:url('product')}" name="addForm" id="addForm">
  <input name="goods_id" value="{$goods_id}" type="hidden">
  <!-- <input type="hidden" name="act" value="product_add_execute" /> -->
    <table id="table_list" width="100%" cellspacing="1" cellpadding="3">
      <tbody>
      <tr>
        <th colspan="20" scope="col">{$goodsList.goods_name}&nbsp;&nbsp;&nbsp;&nbsp;{$goodsList.goods_sn}</th>
      </tr>
      <tr>
         <!-- 规格开始 -->
          {foreach $attr as $val}
           <td align="center">
              <div align="center"><strong>{$val.attr_name}</strong></div>
            </td>
          {/foreach}
           <!-- 规格结束 -->
         
       
   
         <td> <div align="center"><strong>货号</strong></div></td>
         <td> <div align="center"><strong>库存</strong></div></td>
         <td> <div align="center"><strong>价格</strong></div></td>

      </tr>
      <tr>
          <!-- 规格开始 -->
          {foreach $attr as $val}
          <td align="center">
     
            
              <select name="product[0][attr_list][]">
                 {foreach $val.attr_value  as $k =>$v}
                  <option value="{$k}">{$v}</option>
             {/foreach}
               </select>
            </td>
         {/foreach}
           <!-- 规格结束 -->
          <td align="center">
             
              <input name="product[0][product_sn]" value="" size="20" type="text">
           </td>

        <td align="center">
            
            <input name="product[0][SKU]" size="10" type="text">
        </td>
         <td align="center">
           
            <input name="product[0][goods_price]" value="" size="20" type="text">
         </td>
        <td>
            <input class="button add" value="+" type="button">
        </td>
      </tr>


 
      
    </tbody></table>
     <div align="center"><input value=" 保存 " class="button" type="submit"></div>
</form>
</div>
<div id="footer">
  版权所有 © 2006-2013 软工教育 - 高级PHP - 
</div>
</body>
</html>
<script type="text/javascript" src="/index/js/jquery-1.8.3.js"></script>
<script>
 $(function(){
    $('.add').click(function(){
      // alert(1);
        _index =$("tr").length-2;
        //拿tr
        trs="<tr>"+$(this).parents('tr').html()+"<tr>";
        
        // console.log(trs);
        //+换-
        trs=trs.replace('+',"-");
       //add换del
       trs=trs.replace("add","del");
       //换product【0】
       trs=trs.replace(/product\[0\]/g,'product['+_index+']');

       //放在tr   的下面
       $(this).parents('tr').after(trs);
    })
    //减
    $(document).on("click",".del",function(){
      $(this).parents('tr').remove();
    })

 })
</script>