<!DOCTYPE html>
<html>
<head>
	<title>用户列表</title>
</head>
<body>
	<center>
		<a href="/index/user/index">添加用户</a>
		<table border='1px' align='center' width='800px'>
			<tr>
				<th>Id</th>
				<th>用户名</th>
				<th>密码</th>
				<th>添加时间</th>
				<th>操作</th>
			</tr>
			<?php
				foreach($users as $user){
			?>
			<tr>
				<td><?php echo $user['id']?></td>
				<td><?php echo $user['userName']?></td>
				<td><?php echo $user['password']?></td>
				<td><?php echo $user['createDateTime']?></td>
				<td><a href="/index/user/delete/uid/{$user['id']}">删除</a>|<a href="/index/user/update/uid/{$user['id']}">修改</a>|<a href="/index/user/userRole/uid/{$user['id']}">分配角色</a></td>
			</tr>
			<?php
			}
			?>
		</table>
	</center>

</body>
</html>