<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<table border="1">
		<tr>
			<td>id</td>
			<td>标题</td>
			<td>分类</td>
			<td>作者</td>
			<td>图片</td>
			<td>时间</td>
			<td>造作</td>
		</tr>
		<volist name="data" id="vo">
		<tr>
			<td>{$vo.id}</td>
			<td>{$vo.bt}</td>
			<td>{$vo.fl}</td>
			<td>{$vo.zz}</td>
			<td><img src="__PUBLIC__/{$vo.images}" alt="" width="100px" height="100"></td>
			<td><?php echo (date("Y-m-d",time()))?></td>
		</tr>
			
		</volist>
	</table>
	{$page}
</body>
</html>