<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>SHOP 管理中心 - 商品分类 </title>
<base href="/Admin/" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="styles/general.css" rel="stylesheet" type="text/css" />
<link href="styles/main.css" rel="stylesheet" type="text/css" />
</head>
<body>

<h1>
<span class="action-span"><a href="{:url('add')}">添加分类</a></span>
<span class="action-span1"><a href="index.php?act=main">SHOP 管理中心</a> </span><span id="search_id" class="action-span1"> - 商品分类 </span>
<div style="clear:both"></div>
</h1>

<form method="post" action="" name="listForm">
<!-- start ad position list -->
	<div class="list-div" id="listDiv">
		<table width="100%" cellspacing="1" cellpadding="2" id="list-table">
			<tbody>
				<tr>
					<th>分类名称</th>
					<th>商品描述</th>
					
					<th>是否显示</th>
					
					<th>操作</th>
				</tr>
        {volist name="catList" id='vo'} 
				<tr align="center" class="0" id="0_1" parent_id="{$vo.parent_id}" cat_id="{$vo.cat_id}">
					<td align="left" class="first-cell">
						<img src="images/menu_minus.gif" class="imgs" cat_id="{$vo.cat_id}" id="icon_0_1" width="9" height="9" border="0" style="margin-left:0em" >
						<span><a href="goods.php?act=list&amp;cat_id=1">

              <?php echo str_repeat("&nbsp;",substr_count($vo['depath'],'-')*3)?>
               
            
            {$vo.cat_name}</a></span>
					 </td>
					
					<td width="10%"><span onclick="listTable.edit(this, 'edit_measure_unit', 1)" title="点击修改内容" style="">{$vo.cat_desc}</span></td>
					
					<td width="10%">{$vo.is_show}</td>
					

					<td width="24%" align="center">
						<a href="category.php?act=move&amp;cat_id=1">转移商品</a> |
						<a href="category.php?act=edit&amp;cat_id=1">编辑</a> |
						<a href="javascript:;" onclick="listTable.remove(1, '您确认要删除这条记录吗?')" title="移除">移除</a>
					</td>
				</tr>
        {/volist}
	<!--  start 这些代码是显示使用，没有格式化 开发时可删除-->
   
  	<!--  end这些代码是显示使用，没有格式化 开发时可删除-->
	</tbody>
  </table>
</div>
</form>

  </table>
</div>
</form>


<div id="footer">
	版权所有 &copy; 2006-2013 软工教育 - 高级PHP - </div>
</div>

</body>
<script type="text/javascript" src="js/jquery-1.8.3.js"></script>
<script type="text/javascript">

$(function(){



  $('.imgs').live('click',function(){
    
         cat_id=$(this).attr('cat_id');
         flag=$(this).attr('src');
         obj=$(this);
        myToggle(cat_id,flag,obj);

  })

  function myToggle(cat_id,flag,obj){
       tr=$('tr');
       tr.each(function(k,v){
               if(tr.eq(k).attr('parent_id')==cat_id){
                    tr.eq(k).toggle();
                    
                    var cat=tr.eq(k).attr('cat_id');
                    myToggle(cat,flag,obj);
               }

       })

       if(flag=="images/menu_minus.gif"){
         obj.attr('src','images/menu_plus.gif')
       }else{
        obj.attr('src','images/menu_minus.gif')
       }
  }
  })
</script>
</html>