<div id="content">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>SHOP 管理中心 - 类型管理 </title>
<base href="/Admin/" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="styles/general.css" rel="stylesheet" type="text/css" />
<link href="styles/main.css" rel="stylesheet" type="text/css" />
</head>
<body>

<h1>
<span class="action-span"><a href="goods_type.php?act=add">新建商品类型</a></span>
<span class="action-span1"><a href="index.php?act=main">SHOP 管理中心</a> </span><span id="search_id" class="action-span1"> - 商品类型 </span>
<div style="clear:both"></div>
</h1>

<form method="post" action="" name="listForm">
<!-- start goods type list -->
<div class="list-div" id="listDiv">

	<table width="100%" cellpadding="3" cellspacing="1" id="listTable">
		<tbody>

			<tr>
				<th>商品类型名称</th>
				<th>属性分组</th>
				<th>属性数</th>
				<th>状态</th>
				<th>操作</th>
			</tr>

      {volist name="data" id="vo"}
			<tr>
				<td class="first-cell"><span >
       
       

        </span></td>
				<td></td>
				<td align="right">12</td>
				<td align="center"><img src="images/yes.gif"></td>
				<td align="center">
				  <a href="attribute.php?act=list&amp;goods_type=1" title="属性列表">属性列表</a> |
				  <a href="goods_type.php?act=edit&amp;cat_id=1" title="编辑">编辑</a> |
				  <a href="javascript:;" onclick="listTable.remove(1, '删除商品类型将会清除该类型下的所有属性。\n您确定要删除选定的商品类型吗？')" title="移除">移除</a>
				</td>
			</tr>
      {/volist}

    
  </tbody></table>
{$page}
</div>
<!-- end goods type list -->
</form>

<div id="footer">
	版权所有 &copy; 2006-2013 软工教育 - 高级PHP - </div>
</div>

</body>

</html>
</div>
<script type="text/javascript" src="js/jquery-1.8.3.js"></script>
<script type="text/javascript">
   
   function request(page){
        
        $.ajax({
          url:"{:url('ajax')}",
          type:'get',
          data:{page:page},
          success:function(html){
            // alert(1)
            $("#content").html(html);
            $("ul li a").attr('href','javascript:;');
            $('ul li a').live('click',function(){
                   p=$(this).text();
                  request(p);
            })


          }
        })

   }request(1);

   $("#xg").live('blur',function(){
      id=$(this).attr('data');
      // alert(id);
       name=$(this).attr('value');
       $.ajax({
        url:"{:url('xg')}",
        type:'get',
        data:{id:id,name:name},
        success:function(html){
       
        }
       })
   })

</script>