<div class="menu_bg">
	<div class="menu">
    	<!--Begin 商品分类详情 Begin-->    
    	<div class="nav">
        	<div class="nav_t">全部商品分类</div>
            <div class="leftNav" {if condition="$flag eq 0"} style="display:none" {/if}>
                <ul>  
                {foreach $cat as $k => $val}    
                    <li>
                    	<div class="fj">
                        	<span class="n_img"><span></span><img src="images/nav{$k+1}.png" /></span>
                            <span class="fl">{$val.cat_name}</span>
                        </div>
                        <div class="zj">
                            <div class="zj_l">
                            {foreach $val.son as $va}
                                <div class="zj_l_c">
                                    <h2>{$va.cat_name}</h2>
                                     {foreach $va.son as $v}
                                    <a href="{:url('Cat/index',['cat_id'=>$v['cat_id']])}">{$v.cat_name}</a>|
                                    {/foreach}
                                </div>
                                {/foreach}
                    </li> 
                    {/foreach}                   	
                </ul>            
            </div>
        </div>  
        <!--End 商品分类详情 End-->                                                     
    	<ul class="menu_r">                                                                                                                                               
        	<li><a href="Index.html">首页</a></li>
            <li><a href="Food.html">美食</a></li>
            <li><a href="Fresh.html">生鲜</a></li>
            <li><a href="HomeDecoration.html">家居</a></li>
            <li><a href="SuitDress.html">女装</a></li>
            <li><a href="MakeUp.html">美妆</a></li>
            <li><a href="Digital.html">数码</a></li>
            <li><a href="GroupBuying.html">团购</a></li>
        </ul>
        <div class="m_ad">中秋送好礼！</div>
    </div>
</div>