<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<form action="__URL__/index" method="get">
	<input type="text" name="id"><input type="submit" value="搜索">
</form>
	<table border="1">
		<tr>
			<td><input type="checkbox" ></td>
			<td>编号</td>
			<td>新闻名称</td>
			<td>添加日期</td>
			<td>是否发普</td>
			<td>操作</td>
		</tr>
		<volist name="data" id="vo">
			<tr>
				<td><input type="checkbox"></td>
				<td>{$vo.id}</td>
				<td>{$vo.nm}</td>
				<td><?php echo (date("Y-m-d"))?></td>
				<td>{$vo.stats}</td>
				<td>发布</td>
			</tr>
		</volist>
	</table>
	{$page}
</body>
</html>