<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<input type="hidden" id="id" value="{$data.id}">
<table border="1">
	<tr>
	   <td>id</td>
		<td>标题</td>
		<td>浏览量</td>

	</tr>
	<tr>
	<td>{$data.id}</td>
		<td>{$data.title}</td>
		<td>{$data.num}</td>
	</tr>
</table>
<script type="text/javascript" src="/index/js/jquery.min.js"></script>
<script type="text/javascript">
	$(function(){
          var id= $("#id").val();
           $.ajax({
           	url:"{:url('dayz3/num')}",
           	data:{id,id},
           	dataType:"json",
           	type:"get",
           	success:function(e){

           	}
           })
	})
</script>
</body>
</html>