<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<a href="/index/index/index">回首页</a>
<a href="/index/role/index">添加角色</a>
	<table border="1">
		<tr>
		<td>id</td>
			<td>用户角色</td>
			<td>添加时间</td>
			<td>操作</td>
		</tr>
		<?php foreach ($role as $k=> $v) {?>
			<tr>
				<td><?php echo $v['id']?></td>
				<td><?php echo $v['roleName']?></td>
				<td><?php echo $v['createDateTime']?></td>
				<td><a href="/index/role/delete/id/{$v['id']}">删除</a>
				<a href="/index/role/update/id/{$v['id']}">修改</a>
				<a href="/index/role/delete/id/{$v['id']}">分配角色</a></td>
			</tr>
		<?php }?>
	</table>
</body>
</html>