<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
  请输入地址：<input type="text" id="serch">
	<div id="map" style="width:500px;height:350px;border:solid;">
		地图
	</div>
</body>
<script type="text/javascript" src="/public/js/jq.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=fZAQ5GXps6eyzh88eCoOjH1kDUMwe06u"></script>
<script type="text/javascript">
    //显示搜索的位置
    $("#serch").blur(function(){
       // alert(1);
       var addr=$(this).val();
       $.ajax({
       	   url:"{url:/test/dtss}",
       	   data:{addr:addr},
       	   dataType:"json",
       	   type:"post",
       	   success:function(res){
             var lng=res.lng;
             var lat=res.lat;

	         var map = new BMap.Map("map");
			 var point = new BMap.Point(lng,lat);
			 map.centerAndZoom(point,18);
			 var geoc = new BMap.Geocoder();    

                  

            map.addEventListener("click", function(e){        
				var pt = e.point;
				geoc.getLocation(pt, function(rs){
				var addComp = rs.addressComponents;
				alert(addComp.province + ", " + addComp.city + ", " + addComp.district + ", " + addComp.street + ", " + addComp.streetNumber);
					
					});        
				});

       	   }
       })

    })


//显示故宫得位置

	var map=new BMap.Map("map");
	var point = new BMap.Point(116.331398,39.897445);
	map.centerAndZoom(point,12);
	
</script>
</html>