<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	请输入您的邮箱：<input type="email" id="addr">
	<input type="button" id="send" value="发送">
</body>
<script type="text/javascript" src="/public/js/jq.js"></script>
<script type="text/javascript">
	$("#send").click(function(){
		var addr=$("#addr").val();
		if(addr==""){
			alert("请输入您的邮箱");
			return false;
		}
		$.ajax({
          url:"{url:/test/do_email}",
          data:{addr:addr},
          dataType:"json",
          type:"post",
          success:function(res){
          console.log(res);
          }

		})
	})
</script>
</html>