<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style type="text/css">
    ul,li{
    	list-style: none;
    	float: left;
    }
	</style>
</head>
<body id="bod">
<form action="index/index/index" method="get">
	用户名<input type="text" name="bt">
	<input type="submit" value="搜索">
</form>
<table border="1">
	<tr>
	<td><input type="checkbox"></td>
		<td>id</td>
		<td>文章表态</td>
		<td>所属分类</td>
		<td>发布状态</td>
		<td>发布人</td>
		<td>添加时间</td>
	</tr>
<?php foreach ($data as $k => $v) {?>
	<tr>
	<td><input type="checkbox" name="box" value="<?php echo $v['id']?>"></td>
		<td><?php echo $v['id']?></td>
		<td><a href="__URL__/show"><?php echo $v['bt']?></a></td>
		<td><?php echo $v['fl']?></td>
		<td><?php echo $v['sta']?></td>
		<td><?php echo $v['fbr']?></td>
		<td><?php echo $v['time']?></td>
	</tr>
<?php }?>
</table>
<button onclick="fun()">全选</button>
<button onclick="fun1()">反选</button>
<button onclick="delall()">删除</button>
<?php echo $page;?>	
</body>
<script src="/static/jquery-1.8.3.js"></script>
<script type="text/javascript">
//批删
 function delall(){
 	    var box=document.getElementsByName('box');
 	    var str='';
 	    for(var i=0;i<box.length;i++){
 	    	if(box[i].checked==true){
 	    		str+=','+box[i].value;
 	    	}
 	    }
 	    str=str.substr(1);
 	  // alert(str);
 	    var ajax=new XMLHttpRequest();
 	    ajax.open('get','./index/index/delall/id/'+str);
 	    ajax.send();
 	    ajax.onreadystatechange=function(){
 	    	document.getElementById('bod').innerHTML=ajax.responseText;
 	    }
 }
 
 function fun(){
 	var box=document.getElementsByName('box');
 	for(var i=0;i<box.length;i++){
 		box[i].checked=true;
 	}
 }
  function fun1(){
 	var box=document.getElementsByName('box');
 	for(var i=0;i<box.length;i++){
 		box[i].checked=!box[i].checked;
 	}
 }
	// $(function request(page){
 //     $.ajax({
      
 //     	url:'/index/index/ajax',
 //     	type:"GET",
 //     	data:{page:page},
 //     	success:function(html){
 //     		$('#content').html(html);
 //            $('ul>li>a').attr('href',"javascript:;");
 //            $('ul>li>a').click(function(){
 //            	var p=$(this).html();
 //            	request(p);
 //            })
 //     	}
 //     })

	// })
</script>
</html>