	<table border="1"> 
		<tr>
		<td><input type="checkbox"></td>
		<td>id</td>
			<td>用户名称</td>
			<td>状态</td>
			<td>密码</td>
			<td>操作</td>
		</tr>
		<?php foreach ($data as $k => $v) {?>
			<tr>
			    <td><input type="checkbox" name="ids" value="<?php echo $v['id']?>"></td>
				<td><?php echo $v['id']?></td>
				<td><?php echo $v['username']?></td>
				<td>
					<button class="go" data="<?php echo $v['id']?>" status="<?php echo $v['status']?>"><?php echo $v['status']==0?"启用":'未启用';?></button>
				</td>
				<td><?php echo $v['userpwd']?></td>
				<td>
				<a href="/index/user/delete/id/<?php echo $v['id']?>">删除</a>
				<a href="/index/user/update/id/<?php echo $v['id']?>">修改</a>
				<a href="/index/userrole/index/userId/<?php echo $v['id']?>">分配角色</a>
				</td>
			</tr>
		<?php }?>
	</table>
	<?php echo $page?>