<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<h4>管理中心</h4>
<p>订单中心</p>
<table border="1">
<tr>
	<tr><td><a href="/index/index/dd">我的订单</a></td></tr>
	<tr><td><a href="/index/index/dz">收货地址</a></td></tr>
	<tr><td><a href="/index/index/qh">缺货登记</a></td></tr>
	<tr><td><a href="/index/index/gz">跟踪订单</a></td></tr>
	
</tr>


	
</table>
<hr>
<table border="1">
	<p>会员中心</p>

<tr>
	<tr><td><a href="/index/index/dd">用户信息</a></td></tr>
	<tr><td><a href="/index/index/dz">收货地址</a></td></tr>
	<tr><td><a href="/index/index/qh">缺货登记</a></td></tr>
	<tr><td><a href="/index/index/gz">跟踪订单</a></td></tr>
	
</tr>
</table>
</body>
</html>