<!DOCTYPE html>
<html>
<head>
	<title>角色列表</title>
</head>
<body bgcolor="#abcdef">
	<center>
		<form action="/index/role/add" method="post">
			角色名称：<input type="text" name="roleName"/>
			<input type="submit" value="添加角色"/>
		</form>
		<hr/>
		<form action="/index/user/userRole" method="post">
		<table border='1px' width="666px" align="center">
			<caption>角色管理</caption>
			<tr>
				<th>ID</th>
				<th>角色名称</th>
				<th>操作</th>
			</tr>
			<?php
				foreach($roles as $role){
			?>
			<tr align="center">
				<td><?php echo $role['id'];?></td>
				<td>
				<input type="radio" name="roleId" value="<?php echo $role['id'];?>" <?php
				 if(!empty($uid) && in_array($role['id'],$roleIds)) echo "checked";?>
			      />
				<?php echo $role['roleName'];?>
				</td>
				<td>
				<a href="/index/role/delete/roleId/<?php echo $role['id'];?>">删除</a>
				|<a href="/index/role/update/roleId/<?php echo $role['id'];?>">修改</a>|
				<a href="/index/node/index/roleId/<?php echo $role['id'];?>">分配权限</a>
				td>
			</tr>
			<?php
			}
			?>
			<tr>
				<td colspan="4">
					<input type="hidden" name="uid" value="<?php echo !empty($uid)?$uid:0;?>"/>
					<input type="submit" value="分配角色">
				</td>
			</tr>
		</table>
		</form>
	</center>
</body>
</html>