<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form action="{:url('ceshi/add')}" method="post">
		<table>
			<tr>
				<td>姓名<input type="text" name="name"></td>
			</tr>
			<tr>
				<td>性别
				<input type="radio" name="sex" value="男">男
				<input type="radio" name="sex" value="女">女
				</td>
			</tr>
			<tr>
				<td>出生年份<input type="date" name="time"></td>
			</tr>
			<tr>
				<td>年龄<input type="text" name="age"></td>
			</tr>
			<tr>
				<td><input type="submit" value="添加"></td>
			</tr>
		</table>
	</form>
</body>
</html>