<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<h4>{$Think.session.arr.name}.欢迎登陆<a href="/index/login/index/">退出</a></h4>
	<table>
<ul>
	<?php foreach ($_SESSION['think']['arr']['url'] as $k => $v) {?>
		
		<li data-level="1-{$v.level}" data-son-level="1-{$v.level+1}">
		<?php echo str_repeat("------------",$v['level'])?>
		<a href="/index/{$v['url']}"><?php echo $v['name']?></a>
		</li>
		
	<?php }?>
		</ul>
	</table>
	<script type="text/javascript" src="/static/jquery-1.8.3.js"></script>
	<script type="text/javascript">
    $(document).on("click","li",function(){
        $(this).siblings().toggle();
	})
	</script>
</body>
</html>